html,
body {
    height: 100%;
    width: 100%;
}

* {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #000;
    transition: .3s;
}

header {
    height: 60px;
    background: #000;
    z-index:99;
}

header h1 {
    float: left;
    height: 100%;
    width: 300px;
    font-size: 20px;
    color: #000;
    text-align: center;
    line-height: 60px;
    font-style: italic;
    background: #fc0;
}

.menu {
    float: right;
    margin: 13px 5px 0;
    height: 40px;
}

.menu>div {
    float: left;
    height: 34px;
    line-height: 33px;
    text-align: center;
    background: #666;
    color: #fff;
    cursor: pointer;
    margin: 0 3px;
    font-size: 14px;
    border-radius: 5px;
    padding:0 15px;
}
.menu>div i{
    color:#fff;
    font-style: normal;
}

.menu>div:hover {
    background: #fc0;
    color: #000;
}
.menu>div:hover i{
    color: #000;
}

.change div{
    position:absolute;
    left:0;
    display:none;
    background: #fc0;
    width:100%;
    padding:8px 0;
    border-radius: 5px;
    border-top:2px solid #000;
    box-shadow:rgba(0,0,0,.5) 0 3px 3px;
}

.change:hover div{
    display:block;
}

.change div b{
    display:block;
    font-weight: normal;
    opacity:.3;
    height:30px;
    line-height:30px;
}

.change div b.selected{
    opacity:1;
    color:#000;
    pointer-events: none;
}
.change div b:hover{
    opacity:1;
    color:#000;
}

body>div {
    float: left;
    width: 60%;
    height: calc(100% - 60px);
    vertical-align: top;
}

body>div * {
    width: 100%;
}

.edit {
    width: 40%;
    border-right: 1px dashed #aaa;
}

body>div>h2 {
    font-size: 18px;
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin: 20px auto 10px;
    border-bottom: 3px solid #fc0;
    padding-bottom: 5px;
}

.edit h2 {
    border-color: #000;
}

textarea {
    height: calc(100% - 70px);
    resize: none;
    padding: 20px 30px;
    border: none;
    line-height: 24px;
    font-size: 15px;
}

textarea:focus {
    outline: none;
    background: #fff;
}

.preview {
    height: calc(100% - 70px);
    padding: 0 30px 20px;
    overflow-y: auto;
}

textarea::-webkit-scrollbar,
.preview::-webkit-scrollbar {
    width: 5px;
    background-color: #f1f1f1;
}

textarea::-webkit-scrollbar-thumb,
.preview::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.clipboard {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: fixed;
    top: -1000px;
    white-space: pre-wrap;
}